<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<style type="text/css">

</style>
<script type="text/javascript">
	function adddelivery(){
		var check = document.getElementById("choosedelivery");
		var adddeliverybtn = document.getElementById("adddeliver").value;
		if(document.getElementById("choosedelivery1").style.visibility == "hidden"){
			document.getElementById("choosedelivery1").style.visibility = "visible";
			document.getElementById("choosedelivery2").style.visibility = "hidden";
			adddeliverybtn = "เลือกบริการขนส่ง";
		}
		else{
			document.getElementById("choosedelivery1").style.visibility = "hidden";
			document.getElementById("choosedelivery2").style.visibility = "visible";
			adddeliverybtn = "เพิ่มชื่อบริการขนส่ง";
		}
		console.log(document.getElementById("choosedelivery1").stlye.visibility)
	}
</script>
</head>
<body>
	<a href="/myinfo" class="back"><</a>
	<h3>เพิ่มราคาบริการขนส่งสินค้า </h3>
	<form action="#" th:action="@{/savedelivery}" th:object="${delivery}" method="post">
		<table>
			<tr>
				<td>ชื่อบริการขนส่ง </td>
				<td>
				<div id="choosedelivery1" style="visibility: hidden;">
					<input type="text" name="textname">
					<input type="hidden" name="hidden" value="text">
				</div>
				<div id="choosedelivery2" style="visibility: visible;">
					<select name="selectname">
						<option th:each="delivery: ${deliveryList}" th:value="${delivery.getNameDelivery()}"><p th:text="${delivery.getNameDelivery()}"></p></option>
					</select>
					<input type="hidden" name="hidden" value="select">
				</div>
				</td>
				<td><input id="adddeliver" type="button" onclick="adddelivery()" value="เพิ่มชื่อบริการขนส่ง "></td>
			</tr>
			<tr>
				<td>น้ำหนักสูงสุด </td>
				<td><input type="number" th:field="*{maxWeight}"></td>
			</tr>
			<tr>
				<td>ราคาขนส่ง </td>
				<td><input type="number" th:field="*{priceDelivery}"></td>
			</tr>
			<tr>
				<td></td>
				<td><input style="float: right;" type="submit" value="ยืนยัน "></td>
			</tr>
			<tr>
				<td><p>บริการขนส่ง </p></td>
				<td><p>น้ำหนักสูงสุด </p></td>
				<td><p>ราคาขนส่ง </p></td>
				<td><a href="#">ลบ </a></td>
			</tr>
		</table>
	</form>
</body>
</html>