<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<style type="text/css">

</style>
<script type="text/javascript">
	function adddelivery(){
		var check = document.getElementById("choosedelivery");
		var adddeliverybtn = document.getElementById("adddelivery").value;
		if(check.innerHTML == "<select><option>xxx</option></select>"){
			check.innerHTML = '<input type="text">';
			adddeliverybtn = "เลือกบริการขนส่ง";;
		}
		else{
			check.innerHTML = '<select><option>xxx</option></select>';
			adddeliverybtn = "เพิ่มชื่อบริการขนส่ง";
		}
	}
</script>
</head>
<body>
<a href="/myinfo" class="back"><</a>
<h3>เพิ่มราคาบริการขนส่งสินค้า </h3>
<table>
	<tr>
		<td>ชื่อบริการขนส่ง </td>
		<td>
		<div id="choosedelivery">
			<select>
				<option>xxx</option>
			</select>
		</div>
		</td>
		<td><input id="adddelivery" type="button" onclick="adddelivery()" value="เพิ่มชื่อบริการขนส่ง "></td>
	</tr>
	<tr>
		<td>น้ำหนักสูงสุด </td>
		<td><input type="number"></td>
	</tr>
	<tr>
		<td>ราคาขนส่ง </td>
		<td><input type="number"></td>
	</tr>
	<tr>
		<td></td>
		<td><input style="float: right;" type="submit" value="ยืนยัน "></td>
	</tr>
</table>
</body>
</html>