<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<style type="text/css">

</style>
<script type="text/javascript">
	function adddelivery(){
		var check = document.getElementById("choosedelivery");
		var adddeliverybtn = document.getElementById("adddeliver").value;
		if(document.getElementById("choosedelivery1").style.visibility == "hidden"){
			document.getElementById("choosedelivery1").style.visibility = "visible";
			document.getElementById("choosedelivery2").style.visibility = "hidden";
			var h = document.createElement("INPUT");
			h.type = "hidden";
			h.name="hidetext";
			h.value="text";
			document.getElementById("choosedelivery1").appendChild(h);
			adddeliverybtn = "เลือกบริการขนส่ง";
		}
		else{
			document.getElementById("choosedelivery1").style.visibility = "hidden";
			document.getElementById("choosedelivery2").style.visibility = "visible";
			var h = document.createElement("INPUT");
			h.type = "hidden";
			h.name="hidetext";
			h.value="select";
			document.getElementById("choosedelivery2").appendChild(h);
			adddeliverybtn = "เพิ่มชื่อบริการขนส่ง";
		}
		console.log(document.getElementById("choosedelivery1").stlye.visibility)
	}
</script>
</head>
<body>
	<a href="/myinfo" class="back"><</a>
	<h3>เพิ่มราคาบริการขนส่งสินค้า </h3>
	<form action="#" th:action="@{/savedelivery}" th:object="${delivery}" method="post">
		<table>
			<tr>
				<td>ชื่อบริการขนส่ง </td>
				<td>
				<div id="choosedelivery1" style="visibility: hidden;">
					<input type="text" name="textname">
				</div>
				<div id="choosedelivery2" style="visibility: visible;">
					<select name="selectname">
						<option th:each="namedeli: ${namedeliList}" th:value="${namedeli}"><p th:text="${namedeli}"></p></option>
					</select>
				</div>
				</td>
				<td><input id="adddeliver" type="button" onclick="adddelivery()" value="เพิ่มชื่อบริการขนส่ง "></td>
			</tr>
			<tr>
				<td>น้ำหนักสูงสุด </td>
				<td><input type="number" th:field="*{maxWeight}"><span> กรัม</span></td>
			</tr>
			<tr>
				<td>ราคาขนส่ง </td>
				<td><input type="number" th:field="*{priceDelivery}"><span> บาท</span></td>
			</tr>
			<tr>
				<td></td>
				<td><input style="float: right;" type="submit" value="ยืนยัน "></td>
			</tr>
			<tr th:each="deli: ${deliveryList}">
				<td><p th:text="${deli.getNameDelivery()}">บริการขนส่ง </p></td>
				<td><p th:text="${deli.getMaxWeight()}">น้ำหนักสูงสุด </p></td>
				<td><p th:text="${deli.getPriceDelivery()}">ราคาขนส่ง </p></td>
				<td><a th:href="@{'/deletedelivery/' + ${deli.getIdDelivery()}}">ลบ </a></td>
			</tr>
		</table>
	</form>
</body>
</html>