<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<style type="text/css">
td{
	border: solid 2px gray;
}
</style>
<script>
	function show(x){
		//if product.getSize != Null
		if(x == 'y'){
			document.getElementById("num").innerHTML = 'S <input type="number" value="s" name="numS">M <input type="number" value="m" name="numM"><br>L <input type="number" value="l" name="numL">XL <input type="number" value="xl" name="numXL">'
		}
		//if product.getSize == Null
		if(x == 'n'){
			document.getElementById("num").innerHTML = '<input type="number" value="" name="num">'
		}
	}
</script>
</head>
<body>
	<a href="/editproduct">back</a>
	<form action="#" th:action="@{/saveproduct}" th:object="${product}" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>ใส่รูป </td>
				<td><input type="file" name="imageFile"></td>
			</tr>
			<tr>
				<td>ชื่อสินค้า </td>
				<td><input type="text" th:field="*{nameProduct}"></td>
			</tr>
			<tr>
				<td>ราคา </td>
				<td><input type="number" th:field="*{price}"></td>
			</tr>
			<!-- ต้อง input S/M/L/"(ไม่มี)" ลงใน Name สินค้าก่อน -->
			<tr>
				<td>จำนวน </td>
				<td>
					<input type="radio" name="have" value="y" onclick="show('y')" checked="checked"> มี size
					<input type="radio" name="have" value="n" onclick="show('n')"> ไม่มี size
					<div id="num">
						S <input type="number" value="s" name="numS">
						M <input type="number" value="m" name="numM"><br>
						L <input type="number" value="l" name="numL">
						XL <input type="number" value="xl" name="numXL">
					</div>
				</td>
			</tr>
			<tr>
				<td>น้ำหนักสินค้า </td>
				<td><input type="number" th:field="*{weight}">กรัม</td>
			</tr>
		</table>
		<input type="hidden" th:value="${product.getCategory()}" th:field="*{category}">
		<input type="hidden" th:value="${idcat}" name="idcat">
		<input type="submit" value="Submit" name="button">
	</form>
	
</body>
</html>