<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<script>
	function show(x){
		if(x == 'y'){
			document.getElementById("num").innerHTML = 'S <input type="number" value="s">M <input type="number" value="m"><br>L <input type="number" value="l">XL <input type="number" value="xl">'
		}
		if(x == 'n'){
			document.getElementById("num").innerHTML = '<input type="number" value="">'
		}
	}
</script>
</head>
<body>
<a href="/editproduct">back</a>
<table>
	<tr>
		<td>ใส่รูป </td>
		<td><input type="file"></td>
	</tr>
	<tr>
		<td>ราคา </td>
		<td><input type="number"></td>
	</tr>
	<!-- ต้อง input S/M/L/"(ไม่มี)" ลงใน Name สินค้าก่อน -->
	<tr>
		<td>จำนวน </td>
		<td>
			<form name="myForm">
				<input type="radio" name="have" onclick="show('y')" checked="checked"> มี size
				<input type="radio" name="have" onclick="show('n')"> ไม่มี size
			</form>
			<div id="num">
				S <input type="number" value="s">
				M <input type="number" value="m"><br>
				L <input type="number" value="l">
				XL <input type="number" value="xl">
			</div>
		</td>
	</tr>
</table>
<input type="submit">
</body>
</html>