<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<style>
td{
	border: 2px solid black;
}
.center{
  	display: flex;
	align-items: center;
	justify-content: center;
}
</style>
</head>

<body>
<a href="/firstpage">back</a>
<table>
	<tr>
		<td>เลือก Category</td>
		<td>
			<div th:each="cat: ${catlist}" style="display: inline">
				<a th:href="@{'/editproduct/' + ${cat.getIdCategory()}}" th:value="${cat.getNameCat()}" th:text="${cat.getNameCat()}"></a>
			</div>
			<a href="/addcategory">เพิ่ม </a>
		</td>
	</tr>
	<tr>
		<td>สินค้าที่มีตอนนี้ </td>
		<td>
			<div class="center">
				<a th:href="@{'/addoneproduct/' + ${cat.getIdCategory()}}">เพิ่มสินค้า </a>
			</div>
			<div th:each="product: ${products}">
				<a th:href="@{'/editoneproduct/' + ${product.getIdProduct()}}">
					<img style="width=100px;" th:if="${product.getPhotoProduct() == null}" alt="can't download" src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.0-9/83968655_1508266912688925_789788986167001088_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_eui2=AeEmS9a7V_5EfIh3isYQehQUdnXS_5a1mcd2ddL_lrWZxwCZekQyIsKnHov1EeLDg-A_dWPuo1Ea4PKB91i3xWso&_nc_ohc=O0b9t4pD7DEAX8oKyDd&_nc_ht=scontent.fbkk22-2.fna&oh=abb0c36270eb66c217b41b3c3c035c2d&oe=5F85E625">
					<img style="width=100px;" th:if="${product.getPhotoProduct() != null}" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${product.getPhotoProduct()}}">
				</a>
				<a th:href="@{'/editoneproduct/' + ${product.getIdProduct()}}">
					<span th:text="${product.getNameProduct()}"></span>
				</a><input type="button" value="delete"><br>
				
				<div th:if="${product.getNumberStock() == null}">
					S <span th:text="${product.getS()}"></span><br>
					M <span th:text="${product.getM()}"></span><br>
					L <span th:text="${product.getL()}"></span><br>
					XL <span th:text="${product.getXl()}"></span><br>
				</div>
				<div th:if="${product.getNumberStock() != null}">
					Stock <span th:text="${product.getNumberStock()}"></span><br>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>แก้ไขรายละเอียดเพิ่มเติม </td>
		<td>
			<form action="#" th:action="@{/updatecat}" th:object="${cat}" method="post" enctype="multipart/form-data">
				<input type="hidden" th:value="${cat.getIdCategory()}" th:field="*{idCategory}">
				<input type="hidden" th:value="${cat.getNameCat()}" th:field="*{nameCat}">
				<textarea th:value="${cat.getDetailCat()}" rows="10" cols="20" th:field="*{detailCat}"></textarea><br>
				<img style="width=200px;" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${cat.getPhotoCat()}}">
				<br><input type="file" name="imageFile"><br>
				<input type="submit" value="Submit" name="button">
			</form>
		</td>
	</tr>
</table>

</body>
</html>