<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<style type="text/css">
body{
	font-family: 'Bai Jamjuree', sans-serif;
	display: flex;
	background-color: var(--brown2);
	color: gray;
}

.centercol{
  	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
table{
	width: 100%;
}
th, td{
	text-align: left;
	padding: 2% 0 2% 14%;
}
td{
	width: 60%;
}
.img{
	background-color: gray;
	width: 200px;
	height: 200px;
}
</style>
</head>
<body class="centercol">
	<table>
				<tr>
					<th>รหัสสั่งซื้อ</th>
					<td>#รหัสสั่งซื้อ</td>
				</tr>
				<tr>
					<th>ชื่อ-สกุล</th>
					<td></td>
				</tr>
				<tr>
					<th>จำนวนเงินที่ต้องโอน</th>
					<td></td>
				</tr>
				<tr>
					<th>จำนวนเงินที่โอนมา</th>
					<td></td>
				</tr>
				<tr>
					<th>จากธนาคาร</th>
					<td></td>
				</tr>
				<tr>
					<th>เข้าธนาคาร</th>
					<td></td>
				</tr>
				<tr>
					<th>วันเวลาที่โอน</th>
					<td></td>
				</tr>
				<tr>
					<th>บัญชี 4 ตัวท้าย</th>
					<td></td>
				</tr>
			</table>
			<div class="img"></div>
</body>
</html>