<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<style type="text/css">

details {
	margin-top: 120px;
}

</style>
<script>
function ondetail() {
	document.getElementById("overlaydetail").style.visibility = "visible";
}

function offdetail() {
	document.getElementById("overlaydetail").style.visibility = "hidden";
}

function ondetail() {
	var valueTD1 = document.getElementById( "valueTD1" ).innerText;
	var valueTD2 = document.getElementById("valueTD2").innerText;
	var valueTD5 = document.getElementById("valueTD5").value;
	var valueTD6 = document.getElementById("valueTD6").value;
	var valueTD7 = document.getElementById("valueTD7").value;
	document.getElementById("overlaydetail").style.visibility = "visible";
	document.getElementById("overlaytableTD1").innerHTML = valueTD1;
  	document.getElementById("overlaytableTD2").innerHTML = valueTD2;
  	document.getElementById("overlaytableTD5").innerHTML = valueTD5;
  	document.getElementById("overlaytableTD6").innerHTML = valueTD6;
  	document.getElementById("overlaytableTD7").innerHTML = valueTD7;
}

function offdetail() {
	document.getElementById("overlaydetail").style.visibility = "hidden";
}
</script>
</head>
<body>
<!-- overlay -->
<div class="center" id="overlaydetail" onclick="offdetail()">
	<div class="checked center">
		<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
		<table class="tabledetail" style="width: 80%;">
			<tr>
				<td>รหัส order</td>
				<td id="overlaytableTD1"></td>
			</tr>
			<tr>
				<td>ชื่อผู้ซื้อ </td>
				<td id="overlaytableTD2"></td>
			</tr>
			<tr>
				<td>รายการ </td>
				<td>จำนวน</td>
				<td>ราคา (ต่อชิ้น) </td>
			</tr>
			<tr id="overlaytableTD4">
				<td>รายการ </td>
				<td>จำนวน</td>
				<td>ราคา </td>
			</tr>
			<tr>
				<td>ยอดรวม </td>
				<td id="overlaytableTD5"></td>
			</tr>
			<tr>
				<td>ที่อยู่</td>
				<td id="overlaytableTD6"></td>
			</tr>
			<tr>
				<td>เลข track</td>
				<td id="overlaytableTD7"></td>
			</tr>
		</table>
	</div>
</div>

<!-- Main Page -->
<ul>		
	<li style="float: right;">
		<a href="/myinfo">
			<img class="profilepicture white" th:if="${session.user.getPhotoUser() == null}">
			<img class="profilepicture" th:if="${session.user.getPhotoUser() != null}" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${session.user.getPhotoUser()}}">
		</a>
	</li>
	<li style="float: right;"><a href="/myinfo" th:text="${session.user.getName()}"></a></li>
	<a href="/logout" class="logout">logout</a>
	<div class="white"></div>
</ul>
<div class="tab">
  	<a href="/editproduct" class="tablinks" onclick="openTab(event, 'editproduct')">แก้ไขสินค้า </a>
	<a href="/checking" class="tablinks" onclick="openTab(event, 'transfercheck')">ตรวจสอบ </a>
	<a href="/tracking" class="tablinks" onclick="openTab(event, 'transfertrack')">ต้องจัดส่ง </a>
	<a href="/complete" class="tablinks active" onclick="openTab(event, 'transfercomplete')">จัดส่งแล้ว </a>
 	<a href="/transfercancel" class="tablinks" onclick="openTab(event, 'transfercancel')">สินค้าที่ถูกยกเลิก </a>
</div>

<details th:each="month : ${monthlist}">
	<summary th:text="${month.getMonthname()}" th:value="${month.getMonthname()}"></summary>
	<table class="maintable">
	<tr class="tableheader">
		<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
		<th style="height:30pt; width: 20%" > ชื่อผู้ซื้อ </th>
		<th style="height:30pt; width: 60%">  รายการ </th>
		<th style="height:30pt; width: 10%" > ผู้ซื้อได้รับแล้ว </th>
	</tr>
	<tr th:each="userorder: ${userlist}" th:if=${userorder.getPayTime().getMonthValue()==month.getMonthnum()}>
		<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
		<td th:text="${userorder.getUserprofile().getName()}" id="valueTD2"></td>
		<td style="position: relative;" >
			<ul>
				<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
					<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
					<span th:text="${' x'+ orderlist.getNumber()}"></span>
	  			</li>
			</ul>
			<a onclick="ondetail()" id="detaildata">รายละเอียดเพิ่มเติม </a>
		</td>
		<td th:if="${userorder.getStatus().equalsIgnoreCase('shipping')}">กำลังขนส่ง</td>
		<td th:if="${userorder.getStatus().equalsIgnoreCase('complete')}">ได้รับแล้ว</td>
		<input type="hidden" th:value="${userorder.getTotalOrder()}" id="valueTD5">
		<input type="hidden" th:value="${userorder.getUserprofile().getAddress()}" id="valueTD6">
		<input type="hidden" th:value="${userorder.getTrack()}" id="valueTD7">
	</tr>
	</table>
</details>
	
</body>
</html>