<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<style type="text/css">

.tabheadersecond {
	padding: 2%;
	position: fixed;
	top: 90px;
	left: 0;
	width: 100%;
}
details {
	margin-top: 120px;
}

.tabletrack{
	width: 100%;
	overflow-y: scroll;
}
.tabletrack>th, .tabletrack>td{
	text-align: left;
	padding: 2% 0 2% 0;
}
.img{
	background-color: gray;
	width: 200px;
	height: 200px;
}

.idproduct{
	position: fixed;
	top: 2pt;
	left: 2pt;
	color: gray;
	z-index: 2;
}
.imgproduct{
	border-radius: 50px;
	background-color: white;
	width: 50px;
	height: 50px;
	box-shadow: 2px 2px 5px gray; 
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
hr {
  border: 0;
  display: block;
  background-color: gray;
  height: 2px;
}
.container{
	width: 80%;
}

.tabledetail:first-child{
	width: 20px;
}
</style>
<script>
function on() {
	  document.getElementById("overlay").style.visibility = "visible";
}

function off() {
	  document.getElementById("overlay").style.visibility = "hidden";
}

function ondetail() {
	var valueTD1 = document.getElementById( "valueTD1" ).innerText;
	var valueTD2 = document.getElementById("valueTD2").innerText;
	var valueTD5 = document.getElementById("valueTD5").value;
	var valueTD6 = document.getElementById("valueTD6").value;
	document.getElementById("overlaydetail").style.visibility = "visible";
	document.getElementById("overlaytableTD1").innerHTML = valueTD1;
  	document.getElementById("overlaytableTD2").innerHTML = valueTD2;
  	document.getElementById("overlaytableTD5").innerHTML = valueTD5;
  	document.getElementById("overlaytableTD6").innerHTML = valueTD6;
}

function offdetail() {
	document.getElementById("overlaydetail").style.visibility = "hidden";
}
</script>
</head>
<body>

<!-- overlay -->
	<div class="center" id="overlaydetail" onclick="offdetail()">
		<div class="checked center">
			<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
			<table class="tabledetail" style="width: 80%;">
				<tr>
					<td>รหัส order</td>
					<td id="overlaytableTD1"></td>
				</tr>
				<tr>
					<td>ชื่อผู้ซื้อ </td>
					<td id="overlaytableTD2"></td>
				</tr>
				<tr>
					<td>รายการ </td>
					<td>จำนวน</td>
					<td>ราคา (ต่อชิ้น)</td>
				</tr>
				<tr id="overlaytableTD4">
					<td>รายการ </td>
					<td>จำนวน</td>
					<td>ราคา </td>
				</tr>
				<tr>
					<td>ยอดรวม </td>
					<td id="overlaytableTD5"></td>
				</tr>
				<tr>
					<td>ที่อยู่</td>
					<td id="overlaytableTD6"></td>
				</tr>
			</table>
		</div>
	</div>

<!-- Main Page -->
<ul>		
	<li style="float: left;">
		<a href="/myinfo">
			<img class="profilepicture" th:if="${session.user.getPhotoUser() == null}" alt="can't download" src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.0-9/83968655_1508266912688925_789788986167001088_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_eui2=AeEmS9a7V_5EfIh3isYQehQUdnXS_5a1mcd2ddL_lrWZxwCZekQyIsKnHov1EeLDg-A_dWPuo1Ea4PKB91i3xWso&_nc_ohc=O0b9t4pD7DEAX8oKyDd&_nc_ht=scontent.fbkk22-2.fna&oh=abb0c36270eb66c217b41b3c3c035c2d&oe=5F85E625">
			<img class="profilepicture" th:if="${session.user.getPhotoUser() != null}" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${session.user.getPhotoUser()}}">
		</a>
	</li>
	<li style="float: right;"><a href="/myinfo" th:text="${session.user.getName()}"></a></li>
	<a href="/logout" class="logout">logout</a>
	<div class="white"></div>
</ul>
<div class="tab">
  	<a href="/editproduct" class="tablinks" onclick="openTab(event, 'editproduct')">แก้ไขสินค้า </a>
	<a href="/checking" class="tablinks" onclick="openTab(event, 'transfercheck')">ตรวจสอบ </a>
	<a href="/tracking" class="tablinks active" onclick="openTab(event, 'transfertrack')">ต้องจัดส่ง </a>
	<a href="/complete" class="tablinks" onclick="openTab(event, 'transfercomplete')">จัดส่งแล้ว </a>
 	<a href="/transfercancel" class="tablinks" onclick="openTab(event, 'transfercancel')">สินค้าที่ถูกยกเลิก </a>
</div>
	<div class="tabheadersecond">
		<a href="/createPDF">ปริ๊นชื่อ-ที่อยู่ผู้ซื้อทั้งหมด</a>
	</div>
	<details th:each="day : ${daylist}">
		<summary th:text="${day.getMixname()}" th:value="${day.getMixname()}"></summary>
		<table class="maintable">
		<tr class="tableheader">
			<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
			<th style="height:30pt; width: 20%"> ชื่อผู้ซื้อ </th>
			<th style="height:30pt; width: 50%">  รายการ </th>
			<th style="height:30pt; width: 20%">เพิ่ม Track </th>
		</tr>
		<tr th:each="userorder: ${userorders}" th:if="${userorder.getPayTime().toLocalDate().isEqual(day.getLocaldate())}">
				<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
				<td th:text="${userorder.getUserprofile().getName()}" id="valueTD2"></td>
				<td style="position: relative;" >
					<ul>
						<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
							<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
							<span th:text="${' x'+ orderlist.getNumber()}"></span>
			  			</li>
					</ul>
					<a onclick="ondetail()" id="detaildata">รายละเอียดเพิ่มเติม </a>
				</td>
			<td style="text-align: center;">
				<form action="#" th:action="@{'/trantocomplete/' + ${userorder.getIdOrder()}}" method="post">
					<input style="width: 100pt;" type="text" name="numtrack">
					<input type="submit" value="ยืนยัน">
				</form>
			</td>
			<input type="hidden" th:value="${userorder.getTotalOrder()}" id="valueTD5">
			<input type="hidden" th:value="${userorder.getUserprofile().getAddress()}" id="valueTD6">
		</tr>
		</table>
	</details>
	
</body>
</html>